/**
 * GHD Management System - React Web App
 * COMPONENT STYLES | END USERS - ADMINISTRATOR & OPERATOR | Heading Two Component
 */

.headingTwo{
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

b{
  font-weight: 500;
}
