/* Style sheet for Administrator Nav Page */

/* Adjusting page width and height to the screen's width and height */
.administrator-nav-page{
  width: 100vw;
  height: 100vh;
}

.page-sidebar{
  height: 100%;
  width: 20%;
  float: left;
  background-color: #070b26;
}

.page-sub-page-content{
  height: 100%;
  width: 80%;
  float: right;
}

.page-sidebar-content{
  width: 100%;
  height: auto;
  padding: 0;
}

.page-sidebar-sub-page-link{
  text-decoration: none;
}

.page-sidebar-header{
  height: 230px;
  width: 100%;
  background-color: #070b26;
}

.page-sidebar-header-main{
  margin-top: 5%;
  width: 90%;
  height: 120px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: #ffffff;
}

.sidebar__ghd-management-system-logo{
  width: 34%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-sidebar-header-sub{
  margin-top: 5%;
  width: 90%;
  height: 80px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: #ffffff;
}

.header-sub-top-row{
  height: 50%;
  width: 100%;
  border-bottom: 5px solid #070b26;
}

.top-row-left-column{
  height: 100%;
  width: 80%;
  float: left;
}

.account-role-text{
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: 50%;
  left: 28%;
  transform: translateY(-50%);
  letter-spacing: 1px;
}

.top-row-right-column{
  height: 100%;
  width: 20%;
  float: right;
}

.account-status-indicator{
  width: 20px;
  height: 20px;
  background-color: #4ae27d;
  border-radius: 10px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-sub-bottom-row{
  height: 50%;
  width: 100%;
}

.bottom-row-left-column{
  height: 100%;
  width: 60%;
  float: left;
}

.bottom-row-right-column{
  height: 100%;
  width: 40%;
  float: right;
}

.current-date-time-text{
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  left: 20%;
}

.page-sidebar-sub-page-list .page-sidebar-sub-page-button{
  margin: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: 60px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #070b26;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 10px;
}

.page-sidebar-sub-page-list #page-sidebar-sub-page-active{
  background-color: #1a84fb;
  color: #ffffff;
  padding: 1%;
}

.page-sidebar-sub-page-list .page-sidebar-sub-page-button:hover{
  background-color: #1a84fb;
  cursor: pointer; 
  color: #ffffff;
}

.page-sidebar-sub-page-button #page-sidebar-icon{
  display: grid;
  place-items: center;
  flex: 25%;
}

.page-sidebar-sub-page-button #page-sidebar-title{
  flex: 75%;
}

.page-sidebar-sub-page-section-two{
  margin-top: 30%;
}

.page-sidebar-sub-page-section-three{
  margin-top: 15%;
}

.page-sidebar-title-logout-text{
  color: #ff1111;
}

.page-sidebar-title-logout-icon{
  color: #ff1111;
}
