/**
 * GHD Management System - React Web App
 * PAGE STYLES - Admin Accounts Sub Page
 */

.admin-accounts-sub-page{
  width: 100vw;
  height: 100vh;
  background-color: #070b26;
}

.admin-accounts-content-card{
  height: 97%;
  width: 98%;
  background-color: #f1f1f1;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
