/**
 * GHD Public Website - React Web App | END USERS - PUBLIC
 * STYLES - App
 */

/* Removing default paddings and margins */
*{
  padding: 0;
  margin: 0;
}

/* Adjusting width and height of the main component to the width and height of the screen */
.GHD-Public-Website-App{
  width: 100vw;
  height: 100vh;
}
