/* Style sheet for Hot Zones Sub Page */

.hot-zone-sub-page{
  width: 100vw;
  height: 100vh;
  background-color: #070b26;
}

.hot-zone-content-card{
  height: 97%;
  width: 98%;
  background-color: #f1f1f1;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
