/* Style sheet for Health Details Sub Page */

.health-details-sub-page{
  width: 100vw;
  height: 100vh;
  background-color: #070b26;
}

.health-details-content-card{
  height: 97%;
  width: 98%;
  background-color: #ffffff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
