/* Style sheet for Report Submission Component */

.report__main-container{
  position: relative;
  width: 100%;
}

.report__container{
  padding: 10px;
  width: 90%;
  min-height: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 3px 18px #137791;
}

.report__item-heading{
  margin-left: 3%;
}

.text-field{
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.report__submit-button{
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
