/* Style sheet for Login Page */

.login{
  width: 100%;
  height: 100%;
}

.login__login-section{
  min-height: 100vh;
  width: 25%;
  float: left;
  background-color: rgb(76, 160, 199);
}

.login__cover-image-section{
  min-height: 100vh;
  width: 75%;
  float: right;
  background-color: rgb(175, 238, 253);
}

.login__cover-image-container{
  display: flex;
  justify-content: center;
}

.login__cover-image{
  width: 65%;
  height: 65%;
}

.login__logo-container{
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 90%;
  margin: 25px;
  box-shadow: 5px 3px 18px #117999;
}

.login__ghd-management-system-logo{
  width: 30%;
  height: 20%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.login__login-container{
  width: 90%;
  height: 90%;
  margin: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 3px 18px #127c9c;
}

.login__inner-login-container{
  min-height: 100%;
}

.login__login-heading{
  padding-top: 4%;
  padding-left: 10%;
  padding-bottom: 1%;
}

.login__email-input-text-field{
  padding-left: 10%;
}

.login__password-input-text-field{
  padding-left: 10%;
}

.text-field{
  width: 90%;
}

.login__left-material-icon{
  padding-top: 5px;
}

.login__right-material-icon{
  padding-top: 5px;
}

.login__login-button-container{
  padding-top: 10%;
}

.login__login-button{
  width: 50%;
  height: 40px;
  position: relative;
  left: 10%;
}

.login__no-account{
  padding-left: 10%;
}

.login__forgot-password-button{
  margin-left: 2%;
}

.login__footer-row{
  margin-left: 2%;
  padding-top: 45%;
}
