/* Style sheet for Login Page */

.loginPage{
  width: 100%;
  height: 100%;
}

.loginSection{
  min-height: 100vh;
  width: 25%;
  float: left;
  background-color: rgb(76, 160, 199);
}

.coverImageSection{
  min-height: 100vh;
  width: 75%;
  float: right;
  background-color: rgb(175, 238, 253);
}

.coverImageContainer{
  display: flex;
  justify-content: center;
}

.coverImage{
  width: 65%;
  height: 65%;
}

.logoContainer{
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 90%;
  margin: 25px;
  box-shadow: 5px 3px 18px #117999;
}

.ghdManagementSystemLogo{
  width: 30%;
  height: 20%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.loginContainer{
  width: 90%;
  margin: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 3px 18px #127c9c;
  min-height: 50%;
}

.innerLoginContainer{
  min-height: 200px;
}

.loginHeading{
  padding-top: 4%;
  padding-left: 10%;
  padding-bottom: 1%;
}

.emailInputTextField{
  padding-left: 10%;
}

.passwordInputTextField{
  padding-left: 10%;
}