/**
 * GHD Management System - React Web App
 * PAGE STYLES | END USER - ADMINISTRATOR | Profile Sub Page
 */

.profileSubPage{
  width: 100vw;
  height: 100vh;
  background-color: #0B445A;
}

.profileContentCard{
  height: 97%;
  width: 98%;
  background-color: #f1f1f1;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
